/* ==================================================== 768px ============================================== */



@media (max-width: 768px) {

    /* ====================== Search box ===================== */
    
    .button__text {
        display: none;
    }

    button {
        border-radius: 15px 15px 15px 15px;
        margin-left: -15px;
      
    }
    
    .fa-magnifying-glass {
        display:contents
    }

    /* ============================= Host Popular Activity ===================== */

    .host__grid {
        flex-direction: column;
    }
    
    .popular__grid {
        gap: 0px;
    }

    .activity__grid {
        flex-wrap: nowrap;
        height: 100%;
        flex-direction: column;
    }

    .host__grid__card,
    .activity__grid__card {
        width: 100%;
        max-width: 100%;
    }

    .activity__grid__card {
        text-align:justify;
    }

/* =========================== Footer ==================== */

    footer {
        flex-direction: column;
    }

    .footer__card {
        padding: 20px 40px;
    }


}

/* ============================== < 380px ======================== */

@media (max-width: 371px) {
    input {
        padding: 0px;
        text-align: center;
    }
}

@media (max-width: 340px) {
    input {
        padding: 0px;
font-size: smaller;
    }
}